body {
    background-color: gray;
}
/* div qui va contenir mon image à transformer, et mise en block pour qu'on la voit. */
#modal1 {
    display: block;
}
/* div contenant l'image. Flex et content juste pour aligner l'img et le p. Et taille limite pour augmenter effet grossissement après */
#modalcontent {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15vw;
    height: 30vh;
}
p {
    color: aliceblue;
    font-size: 1.5em;
}
/* div qui contiendra l'image en grand, donc tout à 100% taille et en none pour la cacher avant ouverture */
#modal2 {
    background: grey;
    display: none;
    width: 100%;
    height: 100%;
}
/* content center pour qu'elle reste centrée à l'ouverture (la margin auto ne fonctionnait pas??) */
#modalcontent2 {
    display: flex;
    justify-content: center;
}