* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --body-bck-col: #041821;
    --head-col: #FFFFFF;
    --head-bord: #FFFFFF;
    --lightmode-btn-bck: #041821;
    --lightmode-btn-col: #FFFFFF;
    --main-p-col: #FFFFFF;
    --btn-col: #FFFFFF;
    --btn-bck: #041821;
    --food-col: #FFFFFF;
    --food-bck-col: #1BD79E;
    --footer-col: #FFFFFF;
}

.light {
    --body-bck-col: #FFFFFF;
    --head-col: #041821;
    --head-bord: #041821;
    --lightmode-btn-bck: #FFFFFF;
    --lightmode-btn-col: #041821;
    --main-p-col: #041821;
    --btn-bck: #FFFFFF;
    --btn-col: #041821;
    --food-col: #1BD79E;
    --food-bck-col: #DBFAF1;
    --footer-col: #041821;
}

@font-face {
    font-family: 'YesevaOne';
    src: url("font/Yeseva_One/YesevaOne-Regular.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("font/Montserrat/Montserrat-Light.ttf");
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url("font/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("font/Montserrat/Montserrat-SemiBold.ttf");
}

/* margin pour coller à la maquette car il semble y en avoir une */
body {
    background-color: var(--body-bck-col);
    margin-left: 2%;
    margin-right: 2%;

}

/* mise en flex pour obtention effet centré des deux élements. Et police demandée. Et petite bordure pour la "ligne" sur maquette */
header {
    font-family: "YesevaOne";
    height: 147px;
    color: var(--head-col);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--head-bord);
}

header nav i {
    margin: .5em .5em;
}
span {
    color: #1BD79E;
}

main {
    margin: auto;
    width: 90%;
}

#lightmode {
    height: 30px;
    background-color: var(--lightmode-btn-bck);
    border-style: none;
    color: var(--lightmode-btn-col);
    transition: transform 2s;
}

#lightmode:hover {
    transform: rotate(360deg);
    color: #1BD79E;
}


/* je decompose main p et #lorem pour les differences de taille de police. Et le strong pour l'effet background sur food */
main p {
    font-family: "YesevaOne";
    color: var(--main-p-col);
    font-size: 2em;
    margin: 1em 0;
}

strong {
    color: #1BD79E;
}

#lorem {
    font-family: "Montserrat";
    font-size: 1em;
    color: #808080;
    margin: 1em 0;
}

#filtre {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    /* color: var(--filtre-col); */
}

main nav button {
    background-color: var(--body-bck-col);
    border-style: none;
    color: var(--btn-col);
    letter-spacing: .25em;
    padding: 0.5em;
}

main nav button:nth-child(2) {
    background-color: var(--food-bck-col);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .5em;
}

.grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid img:nth-child(n+10) {
    display: none;
}

/* flex pour effet centré */
footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: var(--footer-col);
    font-size: 0.75em;
    margin: 5% 0 5% 0;
}

footer p:last-child {
    font-size: 0.62em;
}

/* id pour respecter la difference de font size */
#petit {
    font-size: 0.8em;
}

/* break point tablettes */
@media screen and (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 1em;
    }

    main {
        width: 80%;
    }

    main h2 {
        font-size: 3em;
    }

    #filtre {
        justify-content: center;
        gap: 1em;
    }

    .grid {
        grid-template-columns: repeat(5, 1fr);
        grid-gap: .5em;
    }

    .grid img {
        width: 100%;
        height: 10vh;
    }

    .grid img:nth-child(n+10) {
        display: block;
    }
}

@media screen and (min-width: 1024px) {
    main {
max-width: 1200px;
    }

    main h2,
    main p {
        width: 60%;
    }

    .grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat (3, 25vh);
        gap: 1em;
    }

    .grid img {
        width: 100%;
        height: 30vh;
    }

    .grid img:nth-child(1) {
        grid-column: span 2;
    }
    .grid img:nth-child(6){
        grid-column: span 2;
    }
    .grid img:nth-child(7){
        grid-column: span 2;
    }
    .grid img:nth-child(n+10){
        display: none;
    }
}